h1{
  text-align: center;;
}
.demo-table {
    width: 100%;
    height: 100%;
  }
  .mat-header-cell{
    
    text-align:justify;
    
  }
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  img{
    width: 100px;
    height: 100px;
  }
  
  .button{
    border-radius: 1px;
    color: blueviolet;
  }

  