<h1 >Pancake Task </h1>


<div class="container">
    <table class="table table-trapped">
        <thead>
            <tr>
                 <th>ID</th>
                <th>title</th>
                <th>ID</th>
                <th>ID</th>
                <th>ID</th>
                <th>ID</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.id}}</td>
                <td>{{data.title}}</td>
                <td>{{data.price}}</td>
                <td>{{data.images}}</td>
                 
            </tr>
        </tbody> 
    </table>


</div>